{% extends "base.html" %}
{% block title %}Predictive Maintenance {% endblock %}

{% block content %}

<div class="container-fluid" ><div class="d-flex justify-content-between align-items-center">
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title" style="font-size:30px">Update Sensors</h5>
            <form method="POST" >
                {% csrf_token %}
                    <div class="row align-items-end mt-2">
                <div class="col-md-3">
                  <label for="element_id">element_id</label>
                  <input name="element_id" value="{{sensor_view.element_id}}" type="text" class="form-control"  required>
                 </div>

                 <div class="col-md-3">
                    <label for="exampleInputEmail1">element name</label>
                    <input name="element_name" value="{{sensor_view.element_name}}" type="text" class="form-control"  required>
                   </div>
                   <div class="col-md-3">
                    <label for="exampleInputEmail1">Tag </label>
                    <input name="tag" value="{{sensor_view.tag}}" type="text" class="form-control"  required>
                   </div>
                   <div class="col-md-3">
                    <label for="server_ip">server_ip</label>
                    <input name="server_ip" value="{{sensor_view.server_ip}}" type="text" class="form-control"  required>
                   </div>
                   <div class="col-md-3">
                    <label for="machine_code">machine_code</label>
                    <input name="machine_code" value="{{sensor_view.machine_code}}" type="text" class="form-control"  required>
                   </div>
                   <div class="col-md-3">
                    <label for="element_type">element_type</label>
                    <input name="element_type" value="{{sensor_view.element_type}}" type="text" class="form-control"  required>
                   </div>
                   <div class="col-md-3">
                    <label for="model_path">model_path</label>
                    <input name="model_path" value="{{sensor_view.model_path}}" type="text" class="form-control"  required>
                   </div>
                   <div class="col-md-3">
                    <label for="upper_anamoly_limit">upper_anamoly_limit</label>
                    <input name="upper_anamoly_limit" value="{{sensor_view.upper_anamoly_limit}}" type="text" class="form-control"  required>
                   </div>
                   <div class="col-md-3">
                    <label for="lower_anamoly_limit">lower_anamoly_limit</label>
                    <input name="lower_anamoly_limit" value="{{sensor_view.upper_anamoly_limit}}" type="text" class="form-control"  required>
                   </div>

                   <div class="col-md-3">
                    <label for="remarks" class="form-label" >remarks</label>
                    <input name="remarks" value="{{sensor_view.remarks}}" type="text" class="form-control"  required>
                   </div>
                   <div class="col-md-3">
                    <label for="org_id">org_id</label>
                    <input name="org_id" value="{{sensor_view.org_id}}" type="text" class="form-control" required>
                   </div>

                 <div class="col-md-3">
                     <div class="form-check">
                         <input name="active"  type="checkbox" class="form-check-input" id="additionalFeature1" name="additional_feature1" {% if sensor_view.active %}checked{% endif %}>
                         <label class="form-check-label" for="additionalFeature">Active</label>
                     </div>
                 </div>
                 <div class="col-md-3">
                     <div class="form-check">
                         <input name="prediction" type="checkbox" class="form-check-input" id="additionalFeature2" name="additional_feature2" {% if sensor_view.prediction %}checked{% endif %}>
                         <label class="form-check-label" for="additionalFeature">Prediction</label>
                     </div>
                 </div>



                <div class="col-md-3 text-end ">
                                <button type="submit" class="btn btn-success mt-4" >Submit</button>
                            </div>
              </form>
        </div>
    </div>
</div>
{% endblock %}
