{% extends "base.html" %}
{% block title %}Predictive Maintenance {% endblock %}

{% block content %}

<div class="container-fluid" ><div class="d-flex justify-content-between align-items-center">
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title" style="font-size:30px">Update Sensors</h5>
            <form method="POST" >
                {% csrf_token %}
                    <div class="row align-items-end mt-2">
                <div class="col-md-3">
                  <label for="id">id</label>
                  <input name="id" value="{{anomaly_view.id}}" type="text" class="form-control"  required>
                 </div>

                      <div class="col-md-3">
                  <label for="element_id">element_id</label>
                  <input name="element_id" value="{{anomaly_view.element_id}}" type="text" class="form-control"  required>
                 </div>

                 <div class="col-md-3">
                    <label for="exampleInputEmail1">element name</label>
                    <input name="element_name" value="{{anomaly_view.element_name}}" type="text" class="form-control"  required>
                   </div>
                   <div class="col-md-3">
                    <label for="current_value">current_value </label>
                    <input name="current_value" value="{{anomaly_view.current_value}}" type="text" class="form-control"  required>
                   </div>
                   <div class="col-md-3">
                    <label for="aggregation_type">aggregation_type</label>
                    <input name="aggregation_type" value="{{anomaly_view.aggregation_type}}" type="text" class="form-control"  required>
                   </div>
                   <div class="col-md-3">
                    <label for="no_of_records">no_of_records</label>
                    <input name="no_of_records" value="{{anomaly_view.no_of_records}}" type="text" class="form-control"  required>
                   </div>
                   <div class="col-md-3">
                    <label for="anomaly_ranges">anomaly_ranges</label>
                    <input name="anomaly_ranges" value="{{anomaly_view.anomaly_ranges}}" type="text" class="form-control"  required>
                   </div>
                   <div class="col-md-3">
                    <label for="machine">machine</label>
                    <input name="machine" value="{{anomaly_view.machine}}" type="text" class="form-control"  required>
                   </div>
                   <div class="col-md-3">
                    <label for="org_id">org_id</label>
                    <input name="org_id" value="{{anomaly_view.org_id}}" type="text" class="form-control"  required>
                   </div>
                   <div class="col-md-3">
                    <label for="time_stamp">time_stamp</label>
                    <input name="time_stamp" value="{{anomaly_view.time_stamp}}" type="text" class="form-control"  required>
                   </div>

                   <div class="col-md-3">
                     <div class="form-check">
                         <input name="new_anomaly"  type="checkbox" class="form-check-input" id="additionalFeature1" name="additional_feature1" {% if anomaly_view.new_anomaly %}checked{% endif %}>
                         <label class="form-check-label" for="additionalFeature">New anomaly</label>
                     </div>
                   </div>




                <div class="col-md-3 text-end ">
                                <button type="submit" class="btn btn-success mt-4" >Submit</button>
                            </div>
                    </div>
              </form>
        </div>
    </div>
</div>
{% endblock %}
